# misc
Dockerfile
docker-compose.yml
# Dependency folders
node_modules
**/node_modules

# Next.js build outputs
.next
**/.next
out

# Environment secrets 
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git and metadata
.git
.gitignore
.github
README.md
LICENSE
.dockerignore

# IDE settings
.vscode
.idea
*.swp
*.swo

# Monorepo specific cache
.turbo

# Generated org crypto
fabric-samples/test-network/organizations/
organizations/
crypto-config/

# Channel artifacts
fabric-samples/test-network/channel-artifacts/
fabric-samples/test-network/system-genesis-block/
*.block
*.tx

# Wallets (VERY sensitive)
wallet/
**/wallet/

# Explorer wallet
explorer/walletstore/

# Certificates / keys
*.pem
*.crt
*.key
*_sk