# -----------------------------------------------------------------------------
# DEPENDENCIES
# -----------------------------------------------------------------------------
# Ignore node_modules in root AND all sub-folders
node_modules/
.pnpm-store/

# -----------------------------------------------------------------------------
# BUILD OUTPUTS
# -----------------------------------------------------------------------------
# Next.js build output
.next/
out/

# NestJS build output
dist/

# General build artifacts
build/
*.tsbuildinfo

# -----------------------------------------------------------------------------
# ENVIRONMENTS & SECRETS (Critical)
# -----------------------------------------------------------------------------
.env
.env.*
!.env.example
*.pem

# -----------------------------------------------------------------------------
# TOOLS & LOGS
# -----------------------------------------------------------------------------
# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vercel
.vercel

# TypeScript
next-env.d.ts

# -----------------------------------------------------------------------------
# SYSTEM & IDE
# -----------------------------------------------------------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp