NODE_ENV=development
PORT=5000

# Oracle Cloud S3-Compatible Object Storage
S3_ENDPOINT="https://<namespace>.compat.objectstorage.<region>.oraclecloud.com"
S3_REGION=ap-singapore-1
S3_BUCKET_NAME=bucket-20260312-2335-vault
S3_FORCE_PATH_STYLE=true

# Oracle Cloud S3 Compatibility API Credentials
S3_ACCESS_KEY_ID="your-access-key-here"
S3_SECRET_ACCESS_KEY="your-secret-key-here"
