name: Deploy Frontend to Oracle

on:
  push:
    branches: [devops]  # your branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: ${{ secrets.FRONTEND_DEV_STAGING_CLERK }}
      # CLERK_PUBLISHABLE_KEY: ${{ secrets.NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY }}

    steps:
      # Step 1: Checkout code
      - name: Checkout repo
        uses: actions/checkout@v3

      # Step 2: Setup pnpm
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      # Step 4: Install dependencies
      - name: Install dependencies
        working-directory: apps/core-frontend
        run: pnpm install

      # Step 5: Build frontend with Clerk key
      - name: Build Next.js frontend
        working-directory: apps/core-frontend
        run: pnpm build

      # Step 6: Deploy built files to Oracle VM
      - name: Deploy built files to Oracle VM
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.FRONTEND_DEV_STAGING_IP }}
          username: ${{ secrets.FRONTEND_DEV_STAGING_SERVER_USER }}
          key: ${{ secrets.FRONTEND_STAGING_DEV_SSH_SECRET }}
          source: |
            apps/core-frontend/package.json
            apps/core-frontend/pnpm-lock.yaml
            apps/core-frontend/public
            apps/core-frontend/.next
          target: /home/ubuntu/frontend

      # Step 7: Restart frontend using PM2
      - name: Restart frontend on Oracle VM
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.FRONTEND_DEV_STAGING_IP }}
          username: ${{ secrets.FRONTEND_DEV_STAGING_SERVER_USER }}
          key: ${{ secrets.FRONTEND_STAGING_DEV_SSH_SECRET }}
          script: |
            cd /home/ubuntu/frontend
            pnpm install --prod
            pm2 delete frontend || true
            pm2 start pnpm --name frontend -- start